trigger:
- main

pool:
  name: 'Azure Pipelines'
  vmImage: 'ubuntu-latest'

steps:
- task: UseNode@1
  displayName: 'Use Node.js 20.x'
  inputs:
    version: '20.x'

- script: npm install
  displayName: 'Install dependencies'

- script: npm run build
  displayName: 'Build Astro Project'
  env:
    GITHUB_USERNAME: $(GITHUB_USERNAME)
    GITHUB_TOKEN: $(GITHUB_TOKEN)

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: 'drop'
    publishLocation: 'Container'
