# azure-pipelines.yml
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: npm ci
  displayName: 'Install Dependencies'

- script: npm run build
  displayName: 'Build Static Site'
  env:
    # Map Azure secret variables to environment variables for the prebuild script
    GITHUB_USERNAME: $(GITHUB_USERNAME)
    GITHUB_TOKEN: $(GITHUB_TOKEN)

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)/dist'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: 'Copy build output to artifacts'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'www' # Required for Azure Static Web Apps
  displayName: 'Publish Artifact'
